/* ------------------------ font Style 
===================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* ------------------------ common Style 
===================================================*/

body {
    font-family: 'Poppins', sans-serif;

}
.container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 5px;
}

/* ----------------------- Style (Start Your Journey) 
=====================================================*/
.influencer-title {
    margin-left: 5%;
    font-weight: 700;
}
h1 {
    font-size: 35px;
    font-weight: 700;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.flex-container
img {
    width: 80%;
}
.width-half {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}
.button {
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}

/* -------------------------- hover 
=====================================================*/
.flex-container:hover .main-camera {
    transform: rotate(20deg);
    transition: 1s ease-in-out;
}

/* ------------------------ Popular Collection
=================================================== */

.section-title {
    font-size: 28px;
    text-align: center;
}
/* ------------------------- grid container 
======================================================== */
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 40px;
    overflow: hidden;
    background-color: rgb(245, 242, 242);
    margin-bottom: 100px;
}
.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 10px 10px 40px rgb(252, 249, 249);
    background-color: white;
    border-radius: 5px;
}
.course .course-banner img {
    width: 300px;
    height: 256px;
}
/* ------------------------------ font awesome 
================================================================== */
.fa-star {
    font-size: 12px;
}
.fa-star.filled {
    color: #FFC014;
}
.fa-star.empty {
    color: #AEAEAE;
}
.shifting p {
    color: #787885;
}
.see-more {
    text-align: right;
}
.see-more a {
    color: #E02C6D;
    font-weight: 700;
    text-decoration: none;
    margin-right: 20%;
    
}
.see-more a:visited {
    color: red;
}
.hr {
    clear: both;
    visibility: hidden;
}
/* ---------------------------- footer 
j============================================================ */
footer {
    text-align: center;
    background-color: black;
    color: white;
    height: 200px;
    padding-top: 10px;
}
/* ------------------------- Action Camera London
============================================================= */

.div-rayans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.awesome-scen img {
    width: 80%;
    padding-left: 10%;
}

article {
    max-width: 700px;
    padding: 10px;
    border-left: 5px solid;
    border-image: linear-gradient(purple, black);
    border-image-slice: 1;

}
span {
    color: orange;
    font-weight: 900;
    font-style: italic;
}


/*--------------------------- Mobile Device 
==============================================================*/

@media only screen and (max-width: 688px) {
    /* ---------------------- Start your Jounery 
    ========================================================== */
    .flex-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-bottom: 10px;
    }
    #box-1 h1 {
        font-size: 25px;
    }
    .width-half {
        width: 100%;
    }
    .flex-container img {
        width: 100%;
    }
    #box-1 {
        order: 2;
        text-align: center;
    }
    #box-2 {
        order: 1;
        width: 60%;
    }
/* ----------------------- Popular Collection 
============================================================= */
    .start-influencer {
        width: 100%;
    }
    .collections {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/*--------------------------- tablet devices 
==============================================================*/

@media only screen and (min-width:688px) and (max-width:992px) {
/* ----------------------- Popular Collection 
============================================================= */
.collections {
    grid-template-columns: repeat(2, 1fr);
    }
}